.comment-item {
    background-color: rgb(244, 244, 206);
    margin-top: 20px;
    margin-left: 50px;
    margin-right:50px;
    color: black;
    text-align: center;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    
}

.comment-item > b {
    color: black
}

.del-button {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 36px;
    width: 100px;
    text-align: center;
    font-size: 10pt;
}

#save {
    background-color: rgb(10, 247, 247);
}