
body {
  margin: 0;
  font-family: 'Acme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(49, 49, 49);
  /* background-image: url(https://t4.ftcdn.net/jpg/01/80/77/41/240_F_180774167_NAzCipOt2ScaxXJ17qgxpJRQcgG9r2x4.jpg); */
  /* background-attachment: fixed;  */
  /* background-repeat: no-repeat; */
  /* background-size: 900px 600px; */
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color:rgb(49, 49, 49);
  color: white
}

form input {
	width: 30%;
	margin: auto auto;
  margin-top: 5px;
  margin-bottom: 5px; 
	padding: 10px;
	display: block;
}

button {
  --color: rgb(10, 247, 247);
  --color2: rgb(231, 31, 141);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Acme', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }
 
 button::after, button::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 button::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 button:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 button:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 button:hover {
  color: var(--color2);
 }
 
 button:active {
  filter: brightness(.7);
  transform: scale(.98);
 }

ul {
  list-style: none;
}

form input {
  background-color: rgb(244, 244, 206);
  border-radius: 5px;
}